/* Start global rules  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --main-color : #19c8fa ;
    --main-transparent-color : rgb(25 200 250 / 0.6) ;
    --secondary-color : #353235 ;
    --secondary-lighter-color: #a6a5a5 ;
    --main-margin: 50px ;

}
body {
    font-family: 'Open Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* End global rules  */
/* Start header  */
header {
    height: calc(80vh - 50px);
    width: 100%;
    background-image: url(../imgs/pic1.jpg);
    background-size: cover;
    position: relative;
}
header .icon-left, header .icon-right {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
header .icon-left {
    left: 20px;
}
header .icon-right {
    right: 20px;
}
header .slider {
position: absolute;
left: 50%;
transform: translateX(-50%);
display: flex;
bottom: 20px;
}
header .slider span{
width: 15px;
height: 15px;
border-radius: 50%;
border: 1px solid white;
margin: 0 10px 0;
}
header .slider span.active{
background-color: white;
border-color: white;
}

header .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid var(--secondary-lighter-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
}
header .container .logo {
    height: 75px ;
    display: inline-block;
}
header .container .logo img {
    height: 100%;
}
header .container ul {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}
header .container ul li {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    transition-duration: 0.2s;
}
header .container ul li:hover {
    color: var(--main-color);
    cursor: pointer;
}
header .container span {
    vertical-align: middle;
}
header .container .search-button {
    height: 75px;
    position: relative;
}
header .container .search-button i {
color: white;
padding-left: 10px;
font-size: 20px;
align-self: center;
margin-top: 27px;
}
header .container .search-button::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 2px;
    background-color: var(--secondary-lighter-color);
    height: 20px;
    margin-top: 27px;
}
header .container .mini-nav-bar {
display: none;
color: white;
}
header .caption {
    width: 50%;
    background-color: var(--main-transparent-color);
    color: white;
    padding: 40px;
    margin-top: 100px;
    display: flex;
    flex-direction: row-reverse;
}
header .caption .caption-container {
    width: 40vw;
}
@media (max-width: 1229px) {
    header .container .search-button i, header .container .search-button::before {
        margin-top: 0;
    }
    header .container .mini-nav-bar {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto 0;
    }
    header .container .mini-nav-bar i {
        cursor: pointer;
        font-size: 20px;

    }
    header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    header .container .nav-bar {
        display: none;
    }
    header .container .nav-bar ul li {
        padding: 10px;
        transition-duration: 0.2s;
    }
    header .container .nav-bar ul li:hover {
        padding-left: 30px;
        color: white;
    }
    header .container .nav-bar ul li:not(:last-child){
        border-bottom: 2px solid white;
    }
    header .container .nav-container {
        position: relative;
    }
    header .container .nav-container:hover .nav-bar {
        display: block;
        position: absolute;
        top: 20px;
        right: -80px;
        width: 200px;
        background-color: var(--main-transparent-color);
        border-radius: 5px;
    }
    header .container ul {
        display: block;
    }
    header .container .search-button {
        height: auto;
    }
}
@media (max-width: 458px) {
    header .container {
        flex-direction: column;
    }
    header .container .nav-container {
        order: 1;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width: 962px) {
    header .caption .caption-container h2 {
        font-size: 20px;
    }
    header .caption .caption-container p {
        font-size: 15px;
    }
    header .caption .caption-container {
        width: 90%;
    }    
}
@media (max-width: 645px) {
    header .caption {
        width: 100%;
    }
    header .icon-left, header .icon-right {
        display: none;
    }
}
@media (max-width: 645px) {
    header .caption .caption-container h2 {
        font-size: 15px;
    }
}
/* End header  */
/* Start component */
.section-head {
    margin: var(--main-margin) auto;
    background-color: white;


}
.section-head h2 {
    font-size: 30px;
    color: var(--secondary-color);
    text-align: center;
    text-transform: uppercase;

}
.circle {
    width: 25px;
    height: 25px;
    border: 3px solid var(--secondary-color);
    border-radius: 50%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.circle::before, .circle::after {
    content: "";
    width: 75px;
    height: 3px;
    background-color: var(--secondary-color);
}
.circle::before{
    position: absolute;
    left: -77px;
    top: 8px;
}
.circle::after {
    position: absolute;
    right: -77px;
    top: 8px;
}
.section-head p {
    color: var(--secondary-lighter-color);
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 767px) {
     .section-head p {
        width: 70%;
    }
}
/* End component */

/* Start services */
.services .services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 20px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: var(--main-margin);
    padding-top: var(--main-margin);

}
.services .services-container .services-element {
    width: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.services .services-container .services-element .icon {
    font-size: 50px;
    margin: 20px;
    text-align: center;
}
.services .services-container .services-element h2 {
    color: var(--main-color);
    margin: 20px 0;
}
@media (max-width: 767px) {
    .services .services-container .services-element {
        flex-direction: column;
    }
    .services .services-container .services-element h2 {
        text-align: center;
    }
}
/* End services */

/* Start design  */
.design {
    background-image: url(../imgs/pic2.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;

}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 40%);
}
.design .caption {
    width: 50%;
    background-color: var(--main-transparent-color);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.design .caption .caption-container {
    width: 40vw;
}
.design .caption .caption-container h2 {
    margin-bottom: calc(var(--main-margin) - 20px);
    text-transform: uppercase;
}
.design .caption .caption-container p {
    line-height: 1.5;
    display: inline-block;
    text-transform: capitalize;
}
.design .design-container {
    width: 80%;
    margin: 0 auto;
}
.design img {
    position: absolute;
    bottom: -120px;
    width: 300px;

}
@media (max-width: 900px) {
    .design .caption {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 125px;
    padding: 20px;
    }
    .design .caption .caption-container h2 {
        font-size: 20px;
    }
    .design .caption .caption-container {
        width: 80vw;
    }
    .design img {
        left: 50%;
        transform: translateX(-50%);
    }
    
    
}
@media (max-width: 400px) { 
    .design img {
        width: 200px;
        bottom: 10px;

    }    
}
/* End design  */


/* Start portfolio */
.portfolio-container {
    
}
.portfolio-container-head{

}
.portfolio-container-head ul {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.portfolio-container-head li{
    width: 50px;
    text-align: center;
    text-transform: capitalize;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio-container-head li:first-child {
    background-color: var(--main-color);
    color: white;
}
.portfolio-container .portfolio-imgs{
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 0;
    flex-wrap: wrap;
}
.portfolio-container .portfolio-imgs .img{
    width: 300px;
    height: 300px;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    transition-duration: 0.5s;
}
.portfolio-container .portfolio-imgs .img .img-info {
    position: absolute;
    height: 30%;
    width: 100%;
    bottom: -30%;
    left: 0;
    background-color: white;
    padding-left: 10px;
    transition: 0.5s;
}
.portfolio-container .portfolio-imgs .img .img-info h2 {
    color: black;
    text-transform: capitalize;
    font-size: 20px;
    padding-bottom: 20px;
}
.portfolio-container .portfolio-imgs .img .img-info p {
    color: var(--main-color);
    text-transform: capitalize;
}
.portfolio-container .portfolio-imgs .img:hover .img-info {
    bottom: 0;
}
.portfolio-container .portfolio-imgs img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.portfolio-container .portfolio-imgs .img:hover img{
    transform: rotate(5deg) scale(120%);
}
.portfolio-container-foot {
margin-top: var(--main-margin);
margin-bottom: var(--main-margin);
display: flex;
justify-content: center;
align-items: center;
}
.portfolio-container-foot button{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: var(--main-color);
    border: none;
    padding: 15px;
    color: white;
    cursor: pointer;
}
/* End portfolio */

/* Start video  */
.video {
    width: 100%;
    height: auto;
    position: relative;
}
.video video {
    max-width: 100%;
    position: relative;

}
.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}
.video .video-caption {
    width: 100%;
    height: 200px;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-transparent-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}
.video .video-caption h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: calc(var(--main-margin) - 20px);
}
.video .video-caption p {
    margin-bottom: calc(var(--main-margin) - 30px);
    text-align: center;
}
.video .video-caption button {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}
@media (max-width: 700px) {
    .video .video-caption h2, .video .video-caption p {
        margin-bottom: calc(var(--main-margin) - 45px);
    }
    .video .video-caption h2 {
        font-size: 15px;
    }
    .video .video-caption p {
        font-size: 15px;
    }
    .video .video-caption {
        padding: 5px;
        height: 100px;
    }
    .video .video-caption button {
        padding: 5px;
    }
}
/* End video  */

